@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url('/fonts/Inter.var.woff2') format('woff2');
}

html {
  font: 16px / calc(1ex / 0.32) 'Inter', helvetica, arial, sans-serif;
  font-weight: 450;
  font-feature-settings: 'calt', 'case', 'rlig';
  text-rendering: optimizeLegibility;
}

@screen sm {
  html {
    font-size: 18px;
    @apply font-normal;
  }
}

h1,
h2,
h3 {
  @apply font-semibold;
}

p {
  @apply mt-3;
}

h1 {
  @apply mt-8 text-3xl;
}

h2 {
  @apply mt-6 text-2xl;
}

h3 {
  @apply mt-5 text-xl;
}

img {
  width: 100%;
  height: auto;
}

.dashed {
  background-image: linear-gradient(to right, #161e2e 75%, transparent 75%);
  background-position: 0 1.5em;
  background-repeat: repeat-x;
  background-size: 9px 2px;
}

.link-decoration {
  background-image: linear-gradient(to right, #fce96a 75%, transparent 75%);
  background-position: 0 1em;
  background-repeat: repeat-x;
  background-size: 1px 8px;
}

.btn {
  @apply p-3 text-xs font-medium tracking-wide transition-colors duration-300 ease-out bg-gray-200 rounded w-min hover:bg-green-200 dark:bg-gray-700 dark:hover:bg-gray-600 focus:outline-none focus:ring ring-opacity-50 ring-green-200 dark:ring-gray-600;
}

* {
  scrollbar-color: white hsl(10, 0%, 80%);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(10, 0%, 80%);
}

::selection {
  @apply transition-colors duration-200 bg-green-200 dark:text-gray-900;
}
